<!--Show student details in a table with first name and last name. Add a search box with option to search first name or last name.
I/P: Display list of student details.Enter name and select option to search in first name or last name
O/P:Show the filtered list whose name matched the name and the option choosen(Eg: search name:anitha option:first name output should be list of students whose firstname is anitha)-->

<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body ng-app="filterApplication" ng-controller="filterController">
	<script type="text/javascript" src="script.js"></script>
	<link rel="stylesheet" type="text/css" href="style-angular6a.css">
	<center>
		<input type="text" name="Find" ng-model="find[type]" placeholder="Enter Name">
		<select ng-model="type">
			<option name="first" value="firstName">First Name</option>
			<option name="last" value="lastName">Last Name</option>
		</select>
		<table>
			<tr ng-repeat = "index in names | filter : find">
				<td>{{index.firstName}}</td>
				<td>{{index.lastName}}</td>
			</tr>
		</table>
	</center>	
</body>
</html>