<!DOCTYPE html>
<html>
<head>
	<title>Print Sum</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
	<center>
		<h2 style="color: #C84F0D">FIND SUM</h2><br><br>
		<form name = "myForm" style="color: #201F69  ">
			NUMBER1 : <input type="number" name="num1" ng-model="num1" style="border-color: #504110"><br><br>
			NUMBER2 : <input type="number" name="num2" ng-model = "num2" style="border-color: #504110"><br><br>
		</form>
		<div style="color: #7E5239; font-size: 20px">
			Output: {{num1}}  + {{num2}} is {{num1+num2}}
		</div>
	</center>
	<script>
		var app = angular.module("myApp",[]);
		app.controller('myCtrl', function($scope) {
			$scope.num1 = 5;
			$scope.num2 = 10;
		});
	</script>
</body>
</html>