.button1 {
	border: none;	
	padding: 10px 20px;
	margin: 4px 4px;
	border-radius: 12px;
	background-color: #E5DBD8;
}
input[type = email] {
	width: 30%;
	margin: 5px 0;
	padding: 10px 20px;
	border: 3px solid #ccc;	
	box-sizing: border-box;
	outline: none;
}
input[type=email]:focus {
	border: 3px solid #555;
}
h2 {
	color: #021E12
}