input {
	width: 30%;
	margin: 5px 0;
	padding: 10px 20px;
	border: 3px solid #ccc;	
	box-sizing: border-box;
	outline: none;
	font-size: 18px;
}

input:focus {
	border: 3px solid #555;
}

table {
	border-collapse: collapse;
	width: 50%;
	text-align: center;
	font-size: 20px;
}
th, td {
	padding: 8px;
	border-bottom: 1px solid #ddd;
}
tr:hover {
	background-color: #F1F5E3;
}

select {
	margin: 10px;
	width: 12%;
	font-size: 15px;
	box-sizing: border-box;
	height: 30px;
}
