<!--Get the email id from the user and validate the email id everytime it changes. 
If the email id is valid, a submit button should appear,
which when clicked, should show the message "Email submitted successfully" in a div element.
If the email is invalid, display a message "Invalid email id" in a div element. -->




<!DOCTYPE html>
<html>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css">
	<body>
		<center>
			<div ng-app= "myApp" ng-controller="myCtrl">
				<h2 >VALIDATE E-MAIL</h2><br>
			   	<form name="myForm">
				    Enter E-mail ID : <input ng-model="text" type="email" name="mail" ng-model="mail" ng-minlength="10" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required><br><br>
				    <input type="button" value="SUBMIT" ng-click="submit()" ng-disabled="!myForm.mail.$valid" class="button1" /><br>
				    <br><span ng-show= "myForm.mail.$error.pattern" style="color: #2E0E04; font-size: 20px;">Invalid email address</span> 
				</form> 
				<br><div ng-show = "IsVisible" style="color: #402311; font-size: 20px;">Email id submitted successfully</div>
			</div>
		</center>
		<script>
		var app = angular.module('myApp', []);
		app.controller('myCtrl', function($scope) {
			$scope.Isvisible = false;	
			$scope.submit = function() {
				if ($scope.mail == "") {
					$scope.IsVisible = false;
				}
				$scope.IsVisible = $scope.IsVisible ? false : true;	
			}
			$scope.showDiv = function() {
				$scope.IsVisible = false;
			}
		});
		</script>
	</body>
</html>